.wrapper {
  text-align: center;
  background-color: #212529;
  display: flex;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 300px;
}

a:link {
  text-decoration: none;
  color: inherit;
}

.text-wrapper {
  text-align: left;
  background-color: #212529;
  display: flex;
  justify-content: flex-start;
  padding-top: 120px;
  padding-bottom: 120px;
}
.landing-p {
  font-size: 85px;
  color: aliceblue;
  display: inline-block;
  position: relative;
  right: 1rem;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}
.animated-words {
  display: inline-block;
  justify-content: center;
  text-align: center;
  font-size: 85px;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-right: 3em;
  position: static;
  left: 20px;
}
.animated-words .nl:nth-child(2) {
  -webkit-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
  padding-top: 35px;

  color: aliceblue;
}
.animated-words .nl:nth-child(3) {
  -webkit-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
  padding-top: 35px;
  color: aliceblue;
}
.animated-words .nl:nth-child(4) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  padding-top: 35px;
  color: aliceblue;
}

.animated-words .last:nth-child(5) {
  -webkit-animation-delay: 8s;
  -ms-animation-delay: 8s;
  animation-delay: 8s;
  padding-top: 35px;
  color: aliceblue;
}
.animated-words .nl {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: aliceblue;
  padding-top: 35px;
  -webkit-animation: animateWord 8s linear 1 0s;
  -ms-animation: animateWord 8s linear 1 0s;
  animation: animateWord 8s linear 1 0s;
}
@keyframes animateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animated-words .last {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: aliceblue;
  -webkit-animation: animateWordLast 8s linear 1 0s;
  -ms-animation: animateWordLast 8s linear 1 0s;
  animation: animateWordLast 8s linear 1 0s;
}
@-webkit-keyframes animateWordLast {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}
.am1 {
  margin-top: -15px;
}

.animated-words .last {
  -webkit-animation: animateWordLast 100s linear 1 8s;
  animation: animateWordLast 100s linear 1 8s;
}
@keyframes animateWordLast {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.am1 {
  margin-top: -15px;
}
