#nav-main-div {
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row; */
  /* display: flex;
  flex-direction: row; */
}

.hello{
    color: white;
}

.navbar-item {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 30px;
  /* color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none; */
}
.left {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.logo {
  max-width: 200px;
}

/* .nav{
    align-items: center;
}
.nav p {
    padding-right: 25px;
    padding-top: 20px;
}

.nav a {
    text-decoration: none;
    color: black
} */
