#nav-main-div {
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    flex-direction: row;
  
}


.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
    /* color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;  */
}


.nav-items {
    background-color: white;
    /* justify-content: right; */
}
.left {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.logo {
  max-width: 200px;
}

#hello {
    color: white;
}

/* .nav{
    align-items: center;
}
.nav p {
    padding-right: 25px;
    padding-top: 20px;
}

.nav a {
    text-decoration: none;
    color: black
} */
