.user-index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-show-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artist-show-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forms-container {
    display: flex;
    flex-direction: column;
    
}

.upload-preview-image {
    max-width: 250px;
}

.set-profile-button {
    height: 30px;
    width: 250px;
}
.add-venue-button {
    background: #404040;
    background-image: -webkit-linear-gradient(top, #404040, #000000);
    background-image: -moz-linear-gradient(top, #404040, #000000);
    background-image: -ms-linear-gradient(top, #404040, #000000);
    background-image: -o-linear-gradient(top, #404040, #000000);
    background-image: linear-gradient(to bottom, #404040, #000000);
    -webkit-border-radius: 24;
    -moz-border-radius: 24;
    border-radius: 24px;
    font-family: Arial;
    color: #ffffff;
    font-size: 1em;
    padding: 9px 21px 10px 20px;
    text-decoration: none;
    max-width: 145px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-venue-button:hover {
    background: #404040;
    background-image: -webkit-linear-gradient(top, #404040, #333333);
    background-image: -moz-linear-gradient(top, #404040, #333333);
    background-image: -ms-linear-gradient(top, #404040, #333333);
    background-image: -o-linear-gradient(top, #404040, #333333);
    background-image: linear-gradient(to bottom, #404040, #333333);
    text-decoration: none;
  }
