ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

ul li{
    padding: 25px;
}

 ul a{
    text-decoration: none;
    color: black;
}