ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

ul li {
  align-items: center;
  padding: 25px;
  font-family: ll-unica78, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  /* max-width: 250px; */
}

ul li h3 {
  font-family: ll-unica78, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
}

ul li h5 {
  font-family: ll-unica78, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;
}

ul li p {
  font-family: ll-unica78, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: -0.02em;
}

ul a {
  text-decoration: none;
  color: black;
}

ul li img {
  max-width: 250px;
}

.venue_img{
  max-width: 350px;
  max-height: 200px;
}

.artist_img {
  max-width: 350px;
  max-height: 250px;
}

.filter-artist-ul{
  display: flex;
  flex-direction: row;
}
.filter-venue-ul{
  display: flex;
  flex-direction: row;
}