.user-index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-show-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.artist-show-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forms-container {
    display: flex;
    flex-direction: column;
    
}

.upload-preview-image {
    max-width: 250px;
}

.set-profile-button {
    height: 30px;
    width: 250px;
}
