/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.nav Link {
  background-color: black;
  padding: 30px;
}

.user_display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* .switch_component{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.toggle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.users{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}